* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "microsoft yahei";
  margin: 0 auto;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  font-family: "黑体";
}
.box {
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.box h1 {
  font-size: 0;
  width: 100%;
  height: 110px;
  background: url(../images/title.png) center center no-repeat;
}
.box .main {
  height: 970px;
  width: 100%;
  position: absolute;
  top: 80px;
}
.left {
  height: 100%;
  width: 24%;
  float: left;
  margin-right: 1.5%;
  margin-left: 1%;
}
.middle {
  height: 100%;
  width: 47%;
  float: left;
}
.right {
  height: 100%;
  width: 24%;
  float: left;
  margin-right: 1%;
  margin-left: 1.5%;
}
.data {
  width: 100%;
  padding-right: 1%;
  background: url(../images/titlebg.png) no-repeat;
  background-size: 100% 95px;
  margin-bottom: 12px;
}
.data .title {
  width: 100%;
  text-indent: 7%;
  color: #58b8fc;
  font-size: 24px;
  line-height: 20px;
  height: 35px;
}
.data .charts {
  width: 100%;
  border: 1px solid #4da1e1;
  background: rgba(8, 18, 60, 0.5);
}
.data1,
.data2,
.data3 {
  height: 315px;
}
.data1 .charts,
.data2 .charts,
.data3 .charts {
  height: 280px;
}
.datanum {
  height: 239px;
  width: 100%;
  padding-top: 55px;
}
.datanum .numup {
  height: 115px;
  background: url(../images/fenge.png) no-repeat 61% 20px;
}
.datanum .numup .div1 {
  width: 61%;
  height: 100%;
  text-align: center;
  float: left;
}
.datanum .numup .div1 .p1 {
  color: #58b8fc;
  font-size: 24px;
  height: 30px;
  background: url(../images/icon1.png) 0 center no-repeat;
  display: inline-block;
  padding-left: 30px;
  line-height: 30px;
}
.datanum .numup .div1 .p1 em {
  font-size: 16px;
  color: #be3f59;
}
.datanum .numup .div2 {
  width: 39%;
  height: 100%;
  text-align: center;
  float: left;
}
.datanum .numup .div2 .p1 {
  color: #58b8fc;
  font-size: 24px;
  height: 30px;
  background: url(../images/icon1.png) 0 center no-repeat;
  padding-left: 30px;
  display: inline-block;
  line-height: 30px;
}
.datanum .numup .div2 .p1 em {
  font-size: 16px;
  color: #be3f59;
}
.datanum .numup .p2 {
  color: #fff;
  font-size: 72px;
  margin-top: -10px;
}
.datanum .numdown {
  color: #756192;
  font-size: 24px;
  height: 49px;
  text-align: right;
}
.datanum .numdown span {
  color: #fff;
  font-size: 28px;
  margin-left: 10px;
}
.datanum .numdown em {
  color: #be3f59;
  font-size: 16px;
  margin-left: 15px;
}
.data4 {
  height: 731px;
  width: 100%;
}
.data4 .title {
  height: 35px;
  color: #60b1f2;
  font-size: 24px;
  line-height: 20px;
  text-indent: 30px;
  white-space: nowrap;
  background: url(../images/icon3.png) no-repeat;
}
.data4 .charts {
  width: 100%;
  height: 696px;
  background: url(../images/map.png) no-repeat;
  background-size: 100% 696px;
}
.data5 {
  height: 400px;
  margin-bottom: 24px;
}
.data5 .charts {
  height: 365px;
}
.data56 {
  height: 246px;
  width: 100%;
  margin-bottom: 24px;
}
.data56 .title {
  height: 30px;
  color: #60b1f2;
  font-size: 1.6em;
  text-indent: 3%;
  line-height: 20px;
  text-indent: 30px;
  white-space: nowrap;
  background: url(../images/icon3.png) no-repeat;
}
.data56 .data5 {
  height: 246px;
  width: 46.5%;
  float: left;
}
.data56 .data6 {
  height: 246px;
  width: 46.5%;
  float: left;
  margin-left: 7%;
}
.data56 .charts {
  height: 216px;
  width: 100%;
  border: 1px solid #4da1e1;
  background: rgba(8, 18, 60, 0.5);
}
.data7 {
  height: 276px;
  margin-bottom: 0;
}
.data7 .table {
  width: 100%;
  border: 1px solid #4da1e1;
  background: rgba(8, 18, 60, 0.5);
  height: 241px;
}
.data7 table {
  width: 100%;
  border: 1px solid #83e6ff;
  color: #8090ce;
  text-align: center;
}
.data7 thead {
  background: #0306b0;
  font-size: 22px;
  border-bottom: 1px solid #6288ff;
  text-align: center;
}
.data7 tbody {
  font-size: 18px;
}
.data7 tr {
  height: 34px;
}
.data7 tr td:first-child {
  border-right: 1px solid #6288ff;
  width: 60%;
}
.data7 tr:nth-child(even) {
  background: #00007c;
}
.data7 tr:nth-child(odd) {
  background: #0306b0;
}
